{% paginate blog.articles by section.settings.number_of_blog_post %}

    {% for article in blog.articles %}

        <div>
            {% if article.image %}
                <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-20' }}
            {% endif %}

            <h1>{{article.title}}</h1>

            {% if article.excerpt.size > 0 %}
            {% else %}
                <p>{{article.content | strip_html | truncatewords: section.settings.excerpt_length }}</p>
            {% endif %}

        </div>

    {% endfor %}

{% endpaginate %}


{% schema %}
{
    "name": "Blog",
    "settings": [
            {
                "type": "range",
                "id": "number_of_blog_post",
                "step": 1,
                "min": 1,
                "max": 6,
                "label": "Posts per page",
                "default": 3
            },
            {
                "type": "range",
                "id": "excerpt_length",
                "step": 1,
                "min": 1,
                "max": 50,
                "label": "Excerpt Length",
                "default": 15
            }
        ]
}
{% endschema %}