<div class="py-8">

    {% paginate blog.articles by section.settings.number_of_blog_post %}

        <h1 class="text-center text-3xl">{{blog.title}}</h1>

        <div class="max-w-6xl mx-auto">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                {% for article in blog.articles %}
    
                    <div class="w-full py-6 px-3">
                        {% if article.image %}
                            <a href="{{article.url}}"></a>
                                <img class="w-full h-80 object-cover" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
                            </a>
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover' }}
                        {% endif %}
            
                        <h1 class="text-xl font-medium my-4">{{article.title}}</h1>
            
                        {% if article.excerpt.size > 0 %}
                            <p>{{article.excerpt |  strip_html |  truncatewords: 20}}</p>
                        {% else %}
                            <p>{{article.content | strip_html | truncatewords: section.settings.excerpt_length }}</p>
                        {% endif %}

                        <a class="font-medium color-purple-900" href="{{article.url}}">Read More</a>
            
                    </div>
            
                {% endfor %}
            </div>
        </div>

    <div class="max-w-6xl max-auto">
        {% render 'pagination', pagination: paginate %}  
    </div>

    {% endpaginate %}


</div>



{% schema %}
{
    "name": "Blog",
    "settings": [
            {
                "type": "range",
                "id": "number_of_blog_post",
                "step": 1,
                "min": 1,
                "max": 6,
                "label": "Posts per page",
                "default": 3
            },
            {
                "type": "range",
                "id": "excerpt_length",
                "step": 1,
                "min": 1,
                "max": 50,
                "label": "Excerpt Length",
                "default": 15
            }
        ]
}
{% endschema %}